<div class="header-buttons">
    <button class="back-button" (click)="goBack()">Back</button>
    <div class="buttons-container" *ngIf="contact$ | async as contact; else abort">
        <button *ngIf="!editMode" type="button" class="btn btn-outline-info" (click)="enableEdit(contact)">EDIT</button>
        <button *ngIf="editMode" type="button" class="btn btn-outline-info active" (click)="editMode = false">EDIT</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteContact(contact)">DELETE</button>
    </div>
</div>
<div class="container d-flex flex-column" *ngIf="contact$ | async as contact; else abort">
  <div class="header">
    <img [src]="contact.image" class="contact-img-top" appFallbackImage />
    <h1>{{ contact.name }}</h1>
  </div>

  <form [formGroup]="newContactForm" (ngSubmit)="onSubmit(contact)">
    <div class="row">
      <div class="col-sm">
        <!-- Name Field -->
        <div class="mb-3">
          <label for="inputName" class="form-label"
            >Name:<span style="color: red">*</span></label
          >
          <span *ngIf="!editMode"> <br/>{{ contact.name }}</span>
          <input
            *ngIf="editMode"
            type="name"
            class="form-control"
            id="inputName"
            formControlName="name"
            [value]="contact?.name"
          />
          <div
            *ngIf="
              newContactForm.get('name')?.invalid &&
              newContactForm.get('name')?.touched
            "
            class="text-danger"
          >
            Name is required.
          </div>
        </div>

        <!-- Age Field -->
        <div class="mb-3">
          <label for="inputAge" class="form-label">Age:</label>
          <span *ngIf="!editMode"> <br/>{{ contact.age }}</span>
          <input
            *ngIf="editMode"
            type="age"
            class="form-control"
            id="inputAge"
            formControlName="age"
          />
        </div>
      </div>
      <div class="col-sm">
        <!-- Email Field -->
        <div class="mb-3">
          <label for="inputEmail" class="form-label"
            >Email:<span style="color: red">*</span></label
          >
          <span *ngIf="!editMode"> <br/>{{ contact.email }}</span>
          <input
            *ngIf="editMode"
            type="email"
            class="form-control"
            id="inputEmail"
            formControlName="email"
          />
          <div
            *ngIf="
              newContactForm.get('email')?.invalid &&
              newContactForm.get('email')?.touched
            "
            class="text-danger"
          >
            Email is required.
          </div>
        </div>

        <!-- Phone Field -->
        <div class="mb-3">
          <label for="inputPhone" class="form-label">Phone:</label>
          <span *ngIf="!editMode"> <br/>{{ contact.phone }}</span>
          <input
            *ngIf="editMode"
            type="telephone"
            class="form-control"
            id="inputPhone"
            formControlName="phone"
          />
        </div>

        <!-- Cell Field -->
        <div class="mb-3">
          <label for="inputCell" class="form-label"
            >Cell:<span style="color: red">*</span></label
          >
          <span *ngIf="!editMode"> <br/>{{ contact.cell }}</span>
          <input
            *ngIf="editMode"
            type="telephone"
            class="form-control"
            id="inputCell"
            formControlName="cell"
          />
          <div
            *ngIf="
              newContactForm.get('cell')?.invalid &&
              newContactForm.get('cell')?.touched
            "
            class="text-danger"
          >
            Cell is required.
          </div>
        </div>
      </div>
      <div class="col-sm">
        <!-- Address Field -->
        <div class="mb-3">
          <label for="inputAddress" class="form-label">Address:</label>
          <span *ngIf="!editMode"> <br/>{{ contact.address }}</span>
          <input
            *ngIf="editMode"
            type="text"
            class="form-control"
            id="inputAddress"
            aria-describedby="addressHelp"
            formControlName="address"
          />
          <div id="addressHelp" class="form-text">
            Street name, number, city, country
          </div>
        </div>

        <!-- Image Field -->
        <div class="mb-3">
          <label for="inputImage" class="form-label">Image:</label>
          <span *ngIf="!editMode"> <br/>{{ contact.image }}</span>
          <input
            *ngIf="editMode"
            type="text"
            class="form-control"
            id="inputImage"
            aria-describedby="imageHelp"
            formControlName="image"
          />
          <div id="imageHelp" class="form-text">
            Please add contact's image.
          </div>
        </div>

        <button *ngIf="editMode" type="submit" class="btn btn-primary">Save</button>
        <div
          *ngIf="newContactForm.invalid && newContactForm.touched && editMode"
          class="text-danger mt-2"
        >
          Please fill out all required fields correctly.
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #abort>
    <div *ngIf="goBack()"></div>
</ng-template>
