<div class="container" *ngIf="contactList$ | async as contacts">
  <div class="container px-7 text-center header">
    <div class="row gx-5">
      <div class="col">
        <button type="button" class="btn btn-outline-primary actionBtn" (click)="addRandomUsers()">
          Add Random Records
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-outline-success actionBtn"
        >
          New Contact
        </button>
      </div>
    </div>
  </div>

  <h1 class="title"> Contact List </h1>

  <ng-container *ngFor="let contact of contacts">
    <p class="letter-group">{{ getFirstChar(contact) }}</p>
    <div class="contact">
      <img [src]="contact.image" class="contact-img-top" appFallbackImage/>
      <div class="contact-body">
        <p class="contact-title">{{ contact.name }}</p>
        <p class="contact-text">
          {{ contact.address }} - {{ contact.email }} - {{ contact.phone }}
        </p>
      </div>
    </div>
  </ng-container>
</div>
